# Ignore Visual Studio script files
*.suo
*.user
*.sln.docstates
_UpgradeReport_Files/
[Dd]ebug/
[Rr]elease/
Ankh.NoLoad
*.pdb
*.ipch/
obj/
[Bb]in/
[Oo]bj/
Debug/
Release/
# Include only .cs files
!*.cs
